
$ ->
  $("#hide_history_btn").click ->
    table = $("#historyTable")
    if table.is ":hidden"
      table.show()
      $(this).text("hide")
    else
      table.hide()
      $(this).text("show")
    false

scheme = "<%= Rails.env['RACK_ENV'] == "production" ? "wss://" : "ws://" %>"
uri = scheme + window.document.location.host + "/"
ws = new WebSocket(uri)

ws.onmessage = (message) ->
  data = JSON.parse(message.data)
  paste_title = data["title"]
  newLink = "<a href=\"/pastes/#{paste_title}\">#{paste_title}</a>"
  $("#historyTable tbody").prepend "<tr><td>#{newLink}</td></tr>"
  return