
$ ->
  $("#hide_history_btn").click ->
    table = $("#historyTable")
    if table.is ":hidden"
      table.show()
      $(this).text("hide")
    else
      table.hide()
      $(this).text("show")
    false

  $("#search_field").autocomplete
    source: (request, response) ->
      $.ajax
        url: "/ac_search"
        dataType: "json"
        data:
          name: request.term

        success: (data) ->
          response data
          return

      return
    minLength: 2
    select: (event, ui) ->
      title = ui.item.value
      window.location.href = "/pastes/" + title
      return

  return

  

scheme = "<%= Rails.env['RACK_ENV'] == "production" ? "wss://" : "ws://" %>"
uri = scheme + window.document.location.host + "/"
ws = new WebSocket(uri)

ws.onmessage = (message) ->
  data = JSON.parse(message.data)
  paste_title = data["title"]
  newLink = "<a href=\"/pastes/#{paste_title}\">#{paste_title}</a>"
  $("#historyTable tbody").prepend "<tr><td>#{newLink}</td></tr>"
  $("#historyTable tbody tr").slice(20).hide()
  return
