/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
    
    background-color:#7F7F7F;
    font-size: 0.8em;
    font-family: Verdana, Arial;
    min-width:700px
}

#pealkiri    {
    margin: 0px;
    float: right;
    font-size: 3.6em;
    color:#ffc493;
}

.headerReg .field label { 
    margin-bottom:5px; 
    display:inline-block; 
    width:80px; 
    margin-left:5px; 
    color:#93fffb;
}

.headerReg .field input { 
    margin-bottom:5px; 
    display:inline-block; 
    background-color:#7F7F7F; 
    color:#93fffb;}