@import "bootstrap";



 body{
  background-color:#FFFFFF; 
  font-family: Verdana, Arial;
}

.row   {
  position:relative;
  background-color:#FFFFFF;
  padding-top: 5px;
  margin: 0px auto;
  width:100%;
  max-width: 400px;
  font-size: 1em;
  color:#FF6400;

}


input {
  width: 95%;
  height: auto !important;
}

.container {
  position: relative;
  background-color:#FFFFFF;
  margin: 0px auto;
  width:100%;
  max-width: 900px;
  font-size: 1em;

  
   
    
 
 
}
 



.footer {
    background-color:#FFFFFF;
   
margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:1.5em;
     
}
 
 
 
.login {
background-color:#FFFFFF;
  vertical-align: baseline;
margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:1.5em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}
