// Place all the styles related to the Pastes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paste_content {
    width: 100%;
    overflow: auto;
}

#paste_index {
    text-align: center;
}

.code {
    width: 100%;
}

.paste_brief_container {
    width: 100%;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
}

.paste_brief {
    font-size: 1.4em;
    padding: 6px;
    margin: 2px;
    background: #F5EACD;
}

.cutoff_row {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#paste_info_container {
    font-size: 1.5em;
}
