// Place all the styles related to the Pastes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mainPasting .field input { 
    margin-left:5px; 
    margin-bottom:5px; 
    background-color:#7F7F7F; 
    color:#93fffb; }

.mainPasting .field select { 
    margin-left:5px; 
    margin-bottom:5px; 
    width:100px; 
    background-color:#7F7F7F; 
    color:#93fffb; }

.mainPasting .field textarea{
    resize: none;
    float:left;
    margin-top:16px;
    margin-left:5px;
    width:70%; 
    height:400px;
    background-color:#7F7F7F; 
    color:#93fffb; 
}

.historystack .historytable {
    float:right;
    height:400px;
    width:28%;
    display:block;
    border-style:solid;
    color:#93fffb;
    background-color:#7F7F7F;
}

.search input {
     float:left;
     display:inline-block;
     margin-left:5px; 
     color:#93fffb;
     background-color:#7F7F7F;
}