// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



input, textarea, select, .uneditable-input {
  margin-top: 10px;
  border: 1px solid #bbb;
  display: inline-block;
  margin-bottom: 1px;
  @include box_sizing;
}

#signup_form  {
 
  margin: 0px auto;
}

#GoogleAuth {
  font-size: 2em;

}

#signup_form .btn {
  top:65px;
  left:250px;
  width:320px;
 }

 .signupform {
  margin-left: 10px;
 }