<div class="sideFrame">
        Recent public pastes:
        <table id="historyTable">
            <tbody>
              <% recent_pastes.each do |p| %>
              <tr><td>  <%= link_to p.title, p %> </td></tr>
              <% end %>
            </tbody>
        </table>
        <%= link_to 'hide', '', :id => 'hide_history_btn' %>      
</div>
