<% columns = 3 %>
<% begins_row = (paste_counter % columns == 0) %>
<% ends_row = (paste_counter % columns + 1 == columns || paste_counter == Paste.per_page - 1) %>
<% if begins_row %>
    <div class="row row-centered">
<% end %>
<div class="col-sm-3 col-centered">    
    <% if defined?(for_user) && for_user %>
        <%= render :partial => 'user_paste', :locals => { :paste => paste } %>
    <% else %>
        <%= render :partial => 'pastes/paste_brief', :locals => { :paste => paste } %>
    <% end %>
</div>
<% if ends_row %>
    </div>
<% end %>
