<div class="sideFrame">
        Live paste feed:
        <table id="historyTable">
            <tbody>
            <% recent_pastes.each do |p| %>
                <tr><td>
                  <div class="cutoff_row">
                  <% if p.language %>
                      [<%= p.language %>] 
                  <% end %>
                  <%= link_to p.title, p %> </td></tr>
                  </div>
              <% end %>
            </tbody>
        </table>
        <%= link_to 'hide', '', :id => 'hide_history_btn' %>      
</div>
