<div class="paste_brief">
    <div class="container-fluid">
        <div class="row cutoff_row">
            <%= link_to paste.title, paste %> 
        </div>
        <div class="row cutoff_row">
            <%= paste.language ? paste.language : 'None' %>
        </div>
        <div class="row cutuff_row">
            Expires: <%= paste.expiration.strftime('%e-%m-%y %H:%M') %>
        </div>
        <div class="row icon_row">
            <%= render 'delete_paste', :paste => paste %>
        </div>
    </div>
</div>
