<!DOCTYPE html>
<html>
<head>
  <title>Pastestack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <h1 id="pealkiri">pastestack</h1>
        <form class="headerReg" action="midagi.php.js.vms" method="post" autocomplete="on">
            <div class="field">
                <label>email: </label>
                <input name="ekiri" type="email" size=30 required>
                <input name="log in" value="log" type="submit">
            </div>
            <div class="field">
                <label>password: </label>
                <input name="parool" type="password" size=30 required> 
                <input name="register" value="reg"  type="submit">          
            </div>
        </form>
    </header>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
       
    