<!DOCTYPE html>
<html>
<head>
  <title>Pastestack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<header>
		<form action="midagi.php.js.vms" method="post" autocomplete="on">
			<div>
			<h1> pastestack </h1>
			</div>
			<div id="loginform">
			<div class="inputreg">
				<label>email: </label>
				<input class="kast" name="ekiri" type="email" required />
				<input class="nupp" name="log in" value="log" type="submit" />
			</div>
			<br>
			<div class="inputreg">
				<label>password: </label>
				<input class="kast" name="parool" type="password" required /> 
				<input class="nupp" name="register" value="reg"  type="submit" />			
			</div>
			</div>
		</form>
		<br>
   	</header>
</div>
</body>
</html>
       
    